
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="b1">
  <div class="mySlides-Container">
    <div class="mySlides">
        <img src="\assets\slide-images\maxresdefault.jpg">
      </div>
    
      
    
      <div class="mySlides">
        <img src="assets\slide-images\Amazon-PrimeDay-2020-sale-Mobile-cateogry.jpg">
      </div>
    
      <div class="mySlides">
        <img src="assets\slide-images\amazon3.jpg">
      </div>
    </div>
   
    <app-amazon-items></app-amazon-items>

   



</body>
</html>

    