
   <header id="container">
    <div id="nav-bar">
        <div id="nav-belt">
            <div class="nav-left">
                <div id="nav-logo">
                    <!-- <a href="/ref=nav_logo" id="nav-logo-sprites" class="nav-logo-link nav-progressive-attribute" aria-label="Amazon">
                        
                        <span class="nav-sprite nav-logo-base"></span>
                        <span id="logo-ext" class="nav-sprite nav-logo-ext nav-progressive-content"></span>
                        <span class="nav-logo-locale">.in</span>
                      </a> -->
                    <img src="assets\amazon.png" style="width: 15em; border: hidden;height: 5em;">
                </div>
            </div>
            <div class="nav-fill">
                <div id="nav-search">
                    <form id="nav-search-bar-form">
                        <div class="nav-left">
                            <!-- <a href=""><i>ALL</i></a> -->
                        </div>
                        <div class="nav-fill">
                            <input type="text">
                        </div>
                        <div class="nav-right">
                            <button type="submit"><img src="assets\images\19-magnifier-zoom-search-outline.gif" style="width: 2rem;"></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="nav-right" >
                <div id="nav-tools">
                    <a href="/" style="font-size: 2em;">Language</a>
                    <a href="/" style="font-size: 2em;">Log in</a>
                    <a href="/" style="font-size: 2em;"><img src="assets\images\cart.gif" style="width: 4rem;">Cart</a>
                    
                </div>
            </div>
        </div>
        <div id="nav-main">
            <!--<ul>
                <li><a href="/">xxx</a></li>
                <li><a href="#">Two</a>
                    <ul class="dropdown">
                        <li><a href="#">Sub-1</a></li>
                        <li><a href="#">Sub-2</a></li>
                        <li><a href="#">Sub-3</a></li>
                    </ul>
                </li>
            </ul>
            -->
        </div>
    </div>
    </header>
    

<app-slider></app-slider>
