<!--

  Design-> https://www.uidesigndaily.com/posts/figma-footer-dark-mode-day-1521

  Developer-> Furkan Sünger

  Youtube-> https://www.youtube.com/channel/UCTVgT2ef5OZgI7a5rIQGOWQ

-->

<main class="content">
    <div class="container">
      <h1>Content</h1>
      <p>Browse through a range of high-quality electronic items cherry-picked from some of the most popular and prestigious names in the industry. We specialize in a wide array of products comprising categories like mobile phones, laptops, tablets, cameras</p> <br>
      <p>Have a passion to own the latest electronic gadgets? Love to explore the unending possibilities the modern-day devices unravel for you? Wait no further. Our electronic store has got everything in it for you, that too, at the most compelling price. We</p> <br>
      <p>We at Amazon India believe that customers’ requirements need to be met under all circumstances. That is why we have always been practising a fully customer-centric approach, thus, giving full freedom to all our customers so that they can check </p> <br>
      <p>Amazon India is happy to offer you deep discounts and bargains on different brands available. In respect to your requirement, we always keep on updating our product inventory with latest and more-advanced electronic items. So, you always have a win-win situation when you shop for your favourite product on our user-friendly website or mobile app. Do not think twice. Buy your product online and get it delivered to your address without having to be worried just about anything.

    </p> <br>
  
      
    </div>
  </main>
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col about">
          <h3>About the store</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Become a customer</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Return policy</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
        <div class="col language">
          <h3>Language</h3>
          <ul>
            <li><a href="#">Deutsch</a></li>
            <li><a href="#">English</a></li>
            <li><a href="#">Español</a></li>
            <li><a href="#">Français</a></li>
            <li><a href="#">Indonesian</a></li>
            <li><a href="#">Italian</a></li>
            <li><a href="#">Nederlands</a></li>
            <li><a href="#">Polnisch</a></li>
            <li><a href="#">Português</a></li>
            <li><a href="#">pyccкий</a></li>
            <li><a href="#">Tiếng Việt</a></li>
            <li><a href="#">Türkçe</a></li>
          </ul>
        </div>
        <div class="col socail">
          <h3>Get in touch</h3>
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <ul>
          <li><a href="#">Terms of purchase</a></li>
          <li><a href="#">Security and privacy</a></li>
          <li><a href="#">Newsletter</a></li>
        </ul>
      </div>
    </div>
  </footer>